@import '~bulma/css/bulma.css';
@import '~font-awesome/css/font-awesome.css';

.top-bar {
  height: 80px;
  background-color: #fff;/*#00BCD4;*/
}

/*
a.nav-item.is-tab.is-active {
  border-bottom: 3px solid #df6c4f;
  color: #df6c4f;
  padding-bottom: calc(0.75rem - 3px);
}*/
